<%- include('../Partials/sidebar') %>

      <!-- ===== Content Area Start ===== -->
      <div
        class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden"
      >
        <!-- ===== Header Start ===== -->
<%- include('../Partials/Header') %>
        

        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        <main>
          <section class="text-gray-400 bg-slate-600 body-font">
            <div class="container mx-auto flex  items-center justify-center flex-col">
              <h1 class="title-font ms-4 font-medium text-boxdark" style="font-size: 3rem; margin-top: 2rem;">Wel-Come To Mypanel</h1>
              <img class="lg:w-2/6 md:w-3/6 object-cover object-center rounded" style="width: 50%;" alt="hero"
                src="/images/user/user.png">

            </div>
          </section>
        </main>
        <!-- ===== Main Content End ===== -->
      </div>
      <!-- ===== Content Area End ===== -->
    </div>
    <!-- ===== Page Wrapper End ===== -->
  <script defer src="bundle.js"></script></body>
</html>
